.container{
    width: 100%;
    height: 1200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.title{
    padding-top: 4%;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.title h3{
    width: 50%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #6C6B6B;
}

.collection{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}

.products{
    position: relative;
    width: 28%;
    height: 382px;
    background: #F5F5F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 2%;
}

.products p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    color: #6C6B6B;
}


.products2{
    position: relative;
    width: 28%;
    height: 382px;
    background: #F5F5F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 2%;
}

.products2 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    color: #6C6B6B;
}

.products3{
    position: relative;
    width: 28%;
    height: 382px;
    background: #F5F5F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 2%;
}

.products3 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    color: #6C6B6B;
}

.back1{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(270deg, #FE7831 0%, #FFDEBE 100%);
    transform: rotate(40deg);
}

.sneakers_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #315BFF;
}

.sneakers_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #315BFF;
}

.sneakers{
    position: relative;
    top: -70px;
    left: -40px;
    transition: all .5s;
}
/* ==========hover========= */
.products:hover .sneakers{
    top: -100px;
}

.products3:hover .ball{
    top: -100px;
}

.products3:hover .volley{
    top: -100px;
}

/* ======================= */

.back2{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(97.49deg, #8AA8F8 -0.43%, #315BFF 144.53%);
    transform: rotate(40deg);
}

.ball_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #FE7831;
}

.ball_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #FE7831;
}

.ball{
    position: relative;
    top: -70px;
    transition: all .5s;
}

.back3{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(270deg, #02BE83 0%, #B3F6DC 100%);
    transform: rotate(40deg);
}

.volley_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #FF3C78;
}

.volley_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #FF3C78;
}

.volley{
    position: relative;
    top: -50px;
    left: 70px;  
    transition: all .5s;  
}

@media(max-width:1390px){
    .sneakers_title{
        font-size: 28px;
    }
    
    .sneakers_sub{
        font-size: 18px;
    }

    .ball_title{
        font-size: 28px;
    }
    .ball_sub{
        font-size: 18px;
    }
    .volley_title{
        font-size: 28px;
    }
    .volley_sub{
        font-size: 18px;
    }
    .collection img{
        transform: scale(.8);
    }
    .products{
        width: 28%;
        height: 352px;
    }
    .products2{
        width: 28%;
        height: 352px;
    }
    .products3{
        width: 28%;
        height: 352px;
    }
}

@media(max-width:1190px){
    .collection h2{
        font: 24px;
    }
    .collection h5{
        font: 16px;
    }
    .back1{
        width: 80px;
        height: 40px;
    }
    .back2{
        width: 80px;
        height: 40px;
    }
    .back3{
        width: 80px;
        height: 40px;
    }
    .sneakers{
        position: relative;
        top: -70px;
        left: -100px;
        transition: all .5s;
    }
    .ball{
        position: relative;
        top: -100px;
        left: -80px;
        transition: all .5s;
    }
    .volley{
        position: relative;
        top: -50px;
        left: 10px;  
        transition: all .5s;  
    }
}

@media(max-width:1000px){
    .collection h3{
        font-size: 20px;
    }
    .collection p{
        font-size: 12px;
    }
    .collection h5{
        font-size: 14px;
    }
    .collection img{
        transform: scale(.7);
    }
}

@media(max-width:800px){
    .container{
        width: 100%;
        height: 800px;
    }
    .title{
        height: 20%;
    }
    .title h3{
        width: 100%;
    }
    .title h2{
        font-size:40px ;
    }
    .products{
        width: 28%;
        height: 300px;
    }
    .products2{
        width: 28%;
        height: 300px;
    }
    .products3{
        width: 28%;
        height: 300px;
    }
    .collection{
        height: 80%;
    }
    .collection img{
        transform: scale(.6);
    }
    .back1{
        width: 60px;
        height: 30px;
        top: 40px;
        right: 10px;
    }
    .back2{
        width: 60px;
        height: 30px;
        top: 40px;
        right: 10px;
    }
    .back3{
        width: 60px;
        height: 30px;
        top: 40px;
        right: 10px;
    }
    .sneakers{
        top: -70px;
        left: -150px;
    }
    .ball{
        top: -100px;
        left: -120px;
    }
    .volley{
        top: -50px;
        left: -80px;  
    }
}

@media(max-width:700px){
    .products2{
        display: none;
    }
    .products3{
        display: none;
    }
    .collection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products{
        width: 80%;
        height: 80%;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .collection img{
        transform: scale(1);
        top: 70px;
        left: -50px;
    }

    .products:hover .sneakers{
        top: -10px;
    }

    .products h3{
        font-size: 24px;
        width: 100%;
        height: 10%;
    }
    .products h5{
        font-size:20px;
    }
    .products p{
        font-size: 18px;
    }
    .back1{
        position: absolute;
        top: 200px;
        left: 20px;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        width: 90px;
        height: 45px;
        background: linear-gradient(270deg, #FE7831 0%, #FFDEBE 100%);
        transform: rotate(40deg);
    }
}

@media(max-width:520px){
    .title h2{
        font-size:30px ;
    }
    .title h3{
        font-size: 16px;
    }
    .collection img{
        transform: scale(.9);
        top: 20px;
        left: -50px;
    }
    .products{
        width: 80%;
        height: 70%;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media(max-width:400px){
    .products{
        width: 80%;
        height: 60%;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .products h3{
        font-size: 20px;
        width: 100%;
        height: 10%;
    }
    .products h5{
        font-size:16px;
    }
    .products p{
        font-size: 14px;
    }
    .collection img{
        transform: scale(.7);
        top: -10px;
        left: -50px;
    }
}