.container{
    width: 100%;
    height: 900px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title{
    margin-top: 2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.title h3{
    width: 50%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #6C6B6B;
}

.collection{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products{
    position: relative;
    width: 28%;
    height: 382px;
    background: #F5F5F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 2%;
}

.products p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    color: #6C6B6B;
}

.back1{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(270deg, #FE7831 0%, #FFDEBE 100%);
    transform: rotate(40deg);
}

.sneakers_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #315BFF;
}

.sneakers_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #315BFF;
}

.sneakers{
    position: relative;
    top: -70px;
    left: -40px;
    transition: all .5s;
}
/* ==========hover========= */
.products:hover .sneakers{
    top: -100px;
}

.products:hover .ball{
    top: -100px;
}

.products:hover .volley{
    top: -100px;
}

/* ======================= */

.back2{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(97.49deg, #8AA8F8 -0.43%, #315BFF 144.53%);
    transform: rotate(40deg);
}

.ball_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #FE7831;
}

.ball_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #FE7831;
}

.ball{
    position: relative;
    top: -70px;
    transition: all .5s;
}

.back3{
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    width: 100px;
    height: 50px;
    background: linear-gradient(270deg, #02BE83 0%, #B3F6DC 100%);
    transform: rotate(40deg);
}

.volley_title{
    width: 40%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #FF3C78;
}

.volley_sub{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 2px;
    text-decoration-line: underline;
    color: #FF3C78;
}

.volley{
    position: relative;
    top: -50px;
    left: 70px;  
    transition: all .5s;  
}

