.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.brands{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.brands_in{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    background: #FFFFFF;
    width: 225px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.brand_in{
    border: 2px dashed #EBEBEA;
    width: 200px;
    height: 177px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}