.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./../../img/yellow_sneakers.png');
    background-size: 1000px;
    background-position: 800px -50px;
    background-repeat: no-repeat;
    /* ========animation============= */
    animation-name: image;
    animation-delay: 0s;
    animation-duration: 2.5s;
    animation-timing-function: ease;
}

/* ========animation=========== */

@keyframes image{
    0%{
        opacity: 0;
        background-position: -100px -50px;
    }
    80%{
        background-position: 1000px -50px;
    }
    100%{
        opacity: 1;
        background-position: 800px -50px;   
    }
}

/* ============================== */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_in{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #0A083A;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .2s all;
    cursor: pointer;
}

.menu_in:hover{
    color: #FF3C78;
}

.search{
    cursor: pointer;
}

.main{
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.information h2{
    width: 429px;
    height: 96px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #6C6B6B;
}

.button{
    margin-top: 5%;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_main{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 180px;
    height: 46px;
    background: #FF3C78;
    border-radius: 4px;
    border: none;
    box-shadow: #FF3C78 0px 10px 15px -3px, #FF3C78 0px 4px 6px -2px;
}

.heart {
    background-color: #FF3C78;
    display: inline-block;
    height: 22px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 22px;
}
  
.heart:before,
.heart:after {
    content: "";
    background-color: #FF3C78;
    border-radius: 50%;
    height: 22px;
    position: absolute;
    width: 22px;
}
  
.heart:before {
    top: -15px;
    left: 0;
}
  
.heart:after {
    left: 15px;
    top: 0;
}

.check{
    margin-top: 5%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.round {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    position: absolute;
    width: 28px;
}
  
.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}
  
.round input[type="checkbox"] {
    visibility: hidden;
}
  
.round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.check_in h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6C6B6B;
}

.client{
    width: 50%;
}

.client_in{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 289px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(64, 103, 254, 0.15);
    border-radius: 32px;
    line-height: 15px;
    padding-left: 1%;
    margin-left: -30%;
    margin-top: 10%;
    transition: all .5s;
}

/* ===========hover=========== */

.client_in:hover{
    transform: scale(1.3);
}

/* =========================== */

.client_title{
    width: 80%;
}

.client_title_main{
    margin-right: 2%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #0A083A;
}

.client_title_secondary{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #6C6B6B;
}


@media(max-width:1800px){
    .container{
        background-size: 900px;
        background-position: 800px -50px;
    }
}


@media(max-width:1500px){
    .container{
        background-size: 800px;
        background-position: 700px 50px;
    }
    /* ========animation=========== */

    @keyframes image{
        0%{
            opacity: 0;
            background-position: -100px 50px;
        }
        80%{
            background-position: 800px 50px;
        }
        100%{
            opacity: 1;
            background-position: 700px 50px;   
        }
    }

    /* ============================== */
}

@media(max-width:1300px){
    .container{
        background-size: 800px;
        background-position: 600px 50px;
        animation: none;
    }
    .menu{
        width: 40%;
    }
    .information h1{
        font-size: 60px;
    }
    
    .information h2{
        font-weight: 500;
        font-size: 18px;
    }
}

@media(max-width:1200px){
    .container{
        background-size: 700px;
        background-position: 600px 50px;
        animation: none;
    }
    .information h1{
        font-size: 55px;
    }
    
    .information h2{
        font-weight: 500;
        font-size: 16px;
    }
    .main{
        width: 80%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .client{
        width: 40%;
    }
    
    .client_in{
        width: 250px;
        height: 70px;
    }
}

@media(max-width:1050px){
    .container{
        background-size: 650px;
        background-position: 500px 50px;
        animation: none;
    }
    .menu{
        display: none;
    }   
    .search{
        display: none;
    }

    .information h1{
        font-size: 50px;
    }
    
    .information h2{
        font-weight: 500;
        font-size: 16px;
    }

    .main{
        width: 77%;
        height: 500px;
    }

    .client{
        width: 30%;
    }
    .client_in{
        width: 230px;
        height: 60px;
    }

    .client_title_main{
        font-size: 12px;
    }
    
    .client_title_secondary{
        font-size: 10px;
    }
}

@media(max-width:890px){
    .container{
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
        background-position: 100px 500px;
    }
    .main{
        margin-top: 4%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .client{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
    .client_in{
        width: 350px;
        height: 70px;
    }

    .client_title_main{
        margin-right: 2%;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #0A083A;
    }
    
    .client_title_secondary{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #6C6B6B;
    }
}

