.cantainer{
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    margin: 0 auto;
}

.accesories_football{
    position: relative;
    width: 50%;
    background: #02BE83;
    height: 100%;
    display: flex;
    justify-content: center;
}

.accesories_in_football{
    width: 80%;
    display: flex;
    align-items: center;
}

.football_back{
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: 1;
    position: absolute;
    left: -.1rem;
    width: 140px;
    height: 70px;
    background: linear-gradient(270deg, #02BE83 0%, #B3F6DC 100%);
}

.football{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
}

.title_football{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 4px;
    color: #0A083A;
}

.football h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 6px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.subtitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.football button{
    margin-top: 3%;
    border: none;
    width: 180px;
    height: 46.3px;
    left: 474px;
    top: 288px;
    background: #0A083A;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}

.accesories_volley{
    position: relative;
    width: 50%;
    background: #0A083A;
    height: 100%;
    display: flex;
    justify-content: center;
}

.volley_back{
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: 1;
    position: absolute;
    left: .4rem;
    opacity: .5;
    width: 140px;
    height: 70px;
    background: linear-gradient(97.49deg, rgba(138, 168, 248, 0.6) -0.43%, rgba(49, 91, 255, 0.6) 144.53%);
}

.accesories_in_volley{
    width: 80%;
    display: flex;
    align-items: center;
}

.volley{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
}

.title_volley{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 4px;
    color: #02BE83;
}

.volley h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 6px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.subtitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.volley button{
    margin-top: 3%;
    border: none;
    width: 180px;
    height: 46.3px;
    left: 474px;
    top: 288px;
    background: #02BE83;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}

@media(max-width:1460px){
    .accesories_in_football{
        width: 90%;
    }
    .accesories_football img{
        width: 60%;
    }
    .football{
        width: 60%;
    }
    .accesories_in_volley{
        width: 90%;
    }
    .accesories_in_volley img{
        width: 60%;
    }
    .volley{
        width: 60%;
    }
}


@media(max-width:1080px){
    .football h3{
        font-size: 40px;
    }
    .volley h3{
        font-size: 40px;
    }
}

@media(max-width:880px){
    .cantainer{
        width: 100%;
        height: 908px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .accesories_football{
        width: 100%;
    }
    .accesories_volley{
        width: 100%;
    }
}