.cantainer{
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: flex-start;
}

.accesories_football{
    width: 50%;
    background: #02BE83;
    height: 100%;
    display: flex;
    justify-content: center;
}

.accesories_in_football{
    width: 80%;
    display: flex;
    align-items: center;
}

.football{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
}

.title_football{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 4px;
    color: #0A083A;
}

.football h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 6px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.subtitle{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.football button{
    margin-top: 3%;
    border: none;
    width: 180px;
    height: 46.3px;
    left: 474px;
    top: 288px;
    background: #0A083A;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}