.container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.features{
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.title h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FF3C78;
}

.products{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sneakers_in{
    position: relative;
}

.sneakers{
    z-index: 2;
    top: -20px;
    position: absolute;
    width: 293px;
    height: 180px;
    border-radius: 50%;
    transition: all .5s;
}


.back{
    z-index: 1;
    position: relative;
    left: 5rem;
    bottom: 3rem;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: linear-gradient(270deg, #FE7831 0%, #FFDEBE 100%);
}

.back_2{
    z-index: 1;
    position: relative;
    left: 5rem;
    bottom: 3rem;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: linear-gradient(270deg, #41df44 0%, #bdf9c0 100%);
}

.back_3{
    z-index: 1;
    position: relative;
    left: 5rem;
    bottom: 3rem;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: linear-gradient(270deg, #fe3131 0%, #ffbebe 100%);
}

.back_4{
    z-index: 1;
    position: relative;
    left: 5rem;
    bottom: 3rem;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background: linear-gradient(270deg, #314cfe 0%, #becaff 100%);
}

.product_title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #0A083A;
}

.price{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 4px;
    letter-spacing: -0.04em;
    color: #0A083A;
}



/* ========hover=========== */

.sneakers:hover{
    transform: scale(1.2);
}

/* ========================= */