.container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features{
    margin-top: 5%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.title h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FF3C78;
}