.container{
    margin-top: -5%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.04em;
    color: #0A083A;
}

.title h4{
    width: 90%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #6C6B6B;
}